.items-list {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  border: 1px solid lightgray;
  border-top: 0;
  margin: 10px;
}


.items-list > div {
  list-style: none;
  border-top: 1px solid lightgray;
  max-width: 900px;
}

.item {
  display: flex;  
  padding: 10px  
}

span {
  color: #7E8CA4;
}

a {
  color: #2A65CF;
  padding-left: 5px;
}

.item-name {
  flex: 1
}

.text {
  flex: 2
}

