li {
  list-style: none;
  padding: 10px;
  border: 1px solid lightgray;
  max-width: 900px;;
}

.item {
  display: flex;  
}

span {
  color: #7E8CA4;
}

a {
  color: #2A65CF;
  padding-left: 5px;
}

.item-name {
  flex: 1
}

.text {
  flex: 2
}

